extends baseEmail

block content
  p Hi #{firstName},
  p A new file has been uploaded for the course unit you're enrolled to: #{courseUnit} for academic year: #{academic_year}
  p File Details: #{custom_name}
   

